.bg-image {
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  max-width: 100vw;
  z-index: -1;
  overflow: hidden;
}

.bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
