@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");

/* * {
  border: 1px dashed red;
} */

:root {
  --darker: #18171c;
  --black: #2c3333;
  --green: #395b64;
  --blue: #a5c9ca;
  --skyblue: #e7f6f2;
  --white: #fff;
}

#root {
  max-width: 100%;
  /* border: 1px solid green; */
  overflow-x: hidden;
}

.App {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
}
